
<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
  <md-toolbar color="primary">
    <!--<button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>-->
      Berkadia  Application
    <span class="app-toolbar-filler"></span>
    <button md-button [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</button>
    <button md-button [routerLink]="['/contact']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CONTACT US</button>
    <button md-button (click)="isDarkTheme = !isDarkTheme">CHANGE THEME</button>
  </md-toolbar>

 <router-outlet></router-outlet>

</md-sidenav-layout>
